<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>

<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">
  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
  <h2 class = "centered">View Jobs By Category</h2>
</div>

<table class="centeredTable">
  <tr>
    <th:block th:each="column : ${columns}">
      <th th:text = "${column.value}"></th>
    </th:block>
  </tr>
  <tr>
    <!-- TODO #2: Complete the View Jobs By Category Table. -->
      <!--    TODO #2.1 OPTION A - Modify tableChoices in ListController to include another key/value pair. Check the method that renders the template to help identify the name to use for the key. -->
      <!--    TODO #2.1 OPTION B - Modify list.html to fill in the empty table cells with the necessary link. Check ListController to help identify the data to pass in for the query parameters.-->
      <!--    TODO #2.2 Test your code by clicking View all in the table. 98 jobs in data file.-->


    <td>
        <a th:href="@{/list/jobs(column=all)}" th:text="'View All Jobs'"></a>
    </td>

    <td th:each="category : ${tableChoices}">
      <ul>
        <li th:each="item : ${category.value}">
          <a th:href="@{/list/jobs(column=${category.key},value=${item})}" th:text="${item}"></a>
        </li>
      </ul>
    </td>
  </tr>
</table>

</body>
</html>